<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static_global/bootstrap.min.css">
        <style>
            body{
                background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%)
            }
            h1{
                color: #bb86fc;
            }
        </style>
    </head>
    <body>
        <div class="d-flex align-items-center justify-content-center" style="height:200px;">
            <h1 class="active display-1">Wallpaper Alive</h1>
        </div>
    </body>
</html>