:root{
    --accent-dark: #303030;
    --accent-light: #404040;
    --brand-purple: #bb86fc;
}

@media (min-width: 1000px){
    .w-lg-50{
        width: 50%;
    }
}

.active{
    color: var(--brand-purple) !important
}

.bs-brand{
    background-color: var(--brand-purple) !important
}

.wallpaper-item{
    width: 180px;
    height: 150px;
    overflow: hidden;
    background-color: transparent;
    padding: 0;
    border: none
}

.wallpaper-item:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.wallpaper-item:focus{
    border: thick solid var(--brand-purple);
}

.wallpaper-item:focus img{
    height: 115px;
}

.wallpaper-item:active{
    border: thick solid var(--brand-purple);
}

.wallpaper-item:active{
    height: 115px;
}

.wallpaper-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
    height: 125px;
}

.wallpaper-item label {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 1.1rem;
    color: var(--bs-light)
}

#search{
    outline: none;
    border: none;
    box-shadow: none;
}

.static-wallpaper-item-label{
    border:none;
    font-size:1.5rem;
}

#current-wallpaper-container{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #505050;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--bs-dark);
}