<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../../static_global/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/style.css">
        <style>body{background-color: transparent;}</style>
    </head>
    <body>
        <div class="d-flex justify-content-center mb-3">
            <h3 class="active">Bugs & Feedback</h3>
        </div>
        
        <div class="d-flex justify-content-center">
            <p class="text-light text-center px-1">Encountered a bug or wish to submit feedback? Start a Steam discussion post by clicking the link below.</p>
        </div>

        <div class="d-flex justify-content-center mb-5">
            <a href="javascript:window.top.postMessage({type: 'open', url: 'https://steamcommunity.com/app/2003310/discussions'})" class="btn btn-primary">Steam Discussions</a>
        </div>

        <div class="d-flex justify-content-center">
            <p class="text-light text-center">You can also view the code and report issues on GitHub.</p>
        </div>

        <div class="d-flex justify-content-center mb-5">
            <a href="javascript:window.top.postMessage({type: 'open', url: 'https://github.com/arbeers1/wallpaper-alive-new'})" class="btn btn-success">View on GitHub</a>
        </div>

        <div class="d-flex justify-content-center">
            <p class="text-light text-center">You may be asked to click this button to help gather information on bugs.</p>
        </div>

        <div class="d-flex justify-content-center">
            <a href="javascript:alert('function not yet implemented')" class="btn btn-primary">Copy Debug Info</a>
        </div>
    </body>
</html>