<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../../static_global/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/style.css">
        <style>body{background-color: transparent;}</style>
    </head>
    <body>
        <div class="d-flex justify-content-center mb-3">
            <h3 class="active">Donations</h3>
        </div>
        
        <div class="d-flex justify-content-center mb-3">
            <p class="text-light text-center">If you wish, you can contribute to the Wallpaper Alive project by purchasing a 1$ donation package linked below. All donations are much appreciated.</p>
        </div>

        <div class="d-flex justify-content-center">
            <a href="javascript:window.top.postMessage({type: 'open', url: 'steam://store/2009120'})" class="btn btn-primary">Donate on Steam</a>
        </div>
    </body>
</html>