<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../../static_global/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/style.css">
        <style>body{background-color: transparent;}</style>
    </head>
    <body>
        <div class="modal fade" id="unsaved-modal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content" style="background-color:var(--accent-dark)">
                <div class="modal-header">
                  <h5 class="modal-title text-danger">Warning!</h5>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-light">
                  You have unsaved changes. Would you like to save them?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="alertUnsavedChanges(resolve=true)">Don't Save</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="alertUnsavedChanges(resolve=true, shouldSave=true)">Save changes</button>
                </div>
              </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mb-3">
            <h3 class="active">Settings</h3>
        </div>
        
        <div class="d-flex justify-content-center">
            <form class="mx-5 w-lg-50 container-fluid">
                <div class="mb-3">
                    <label class="form-label text-light" style="font-size: 1.5rem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pause-btn" viewBox="0 0 16 16">
                            <path d="M6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z"/>
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                        </svg>
                        Pause Behavior
                    </label>
                    <select id="pause-options" class="form-select">
                        <option selected value="0" title="Video pauses when the screen is covered by a window.">On Screen Cover</option>
                        <option value="1" title="Video pauses on all monitors when the screen is covered by a window.">On Screen Cover (All Monitors)</option>
                        <option value="2" title="Video pauses when an application is open, even if it doesn't cover the window.">On Window Focus</option>
                        <option value="3" title="Video pauses on all monitors when an application is open, even if it doesn't cover the window.">On Window Focus (All Monitors)</option>
                        <option value="4" title="Video always plays.">Always Play (Not Recommended)</option> 
                    </select>
                    <div class="form-text">Determine when video should pause.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label text-light" style="font-size: 1.5rem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-music-note-beamed" viewBox="0 0 16 16">
                            <path d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z"/>
                            <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z"/>
                            <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z"/>
                        </svg>
                        Mute Behavior
                    </label>
                    <select id="mute-options" class="form-select">
                        <option selected value="0" title="Audio mutes when an application is open or sound is played.">On Window Focus or Sound</option>
                        <option value="1" title="Audio mutes when an application is open.">On Window Focus</option>
                        <option value="2" title="Audio mutes when sound is played.">On Sound</option>
                        <option value="3" title="Audio never mutes.">Never Mute</option>
                    </select>
                    <div class="form-text">Determine when audio should mute.</div>
                </div>
                <div>
                    <button class="btn btn-primary form-control" onclick="save()">Save Settings</button>
                </div>
                <label class="text-light position-fixed bottom-0 mb-2" style="right:1em">App version: 1.1.0.1</label>
            </form>
        </div>

        <script src="../../../static_global/bootstrap.bundle.min.js"></script>
        <script src="../../static/scripts/settings.js"></script>
    </body>
</html>